* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif
}

body {
    /* background: #081b29; */
    color: #ededed;
}

.header {

    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 2px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;





}


.logo {
    position: relative;
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
    padding: 15px 0px;
    text-align: center;
}

.logo::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: .5s;

}



.navbar a {
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-right: 13px;
    transition: .3s;



}

.navbar a:hover,
.navbar a.Active {
    color: #00abf0;






}

.Home {
    height: 100vh;
    background: url("https://github.com/mansoormosazai93-spec/Mansoor-Mosa-Zai/blob/main/bg.jpg?raw=true")no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 0px 10%;


}

.Home-content {
    max-width: 600px;



}

.Home-content h1 {
    position: relative;
    font-size: 40px;
    font-weight: 700px;
    line-height: 1.8;


}

.Home-content h1::before {

    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1s;
}

.Home-content h3 {
    position: relative;
    font-size: 32px;
    font-weight: 700px;
    color: #00abf0;
}

.Home-content h3::before {

    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1.5s;

}

.Home-content p {
    position: relative;
    font-size: 20px;
    margin: 15px 0px 25px;
    font-weight: 600;
}

.Home-content p::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 2.5s;
}

.Home-content .btn-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
    color: #10e942;
}

.Home-content .btn-box::before {

    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 2.9s;
    z-index: 2;
}

.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 10px;
    font-size: 20px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    transition: .5s;
}

.btn-box a:hover {
    color: #00abf0;

}

.btn-box a:nth-child(2):hover {
    color: #081b29;
}

.btn-box a:nth-child(2) {
    background: transparent;
    color: #00abf0;
}

.btn-box a:nth-child(2)::before {
    background: #00abf0;


}
.btn-box a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: #081b29;

    z-index: -1;
    transition: .5s;
}

.btn-box a:hover::before {
    width: 100%;
}

.home-sec {
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.home-sec a {
    position: relative;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #00abf0;
    border-radius: 50%;
    font-size: 0px;
    color: #00abf0;
    text-decoration: none;
    padding: 3px;
    z-index: 1;
    overflow: hidden;
}

.home-sec a:hover {
    color: #081b29;
    transition: .5s;
}

.home-sec a::before {
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 100%;
    background: #00abf0;
    z-index: -1;
    transition: .5s;

}
.home-sec a:hover::before {
    width: 100%;
}

.home-imagehover {
    position: absolute;
    top: 0%;
    right: 30px;
    width: 500px;
    height: 100%;
    background: transparent;
    transition: 3s;
    animation: manipActiveHover .1s forwards;
    animation-delay: 4s;
    pointer-events: none;

}

.home-imagehover:hover {
    background: #081b29;
    opacity: .8;
}

.home-imagehover::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 93%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 3.9s;
    z-index: 100;
}

@keyframes showRight {
    100% {
        width: 0px;
    }
}

@keyframes manipActiveHover {
    100% {
        pointer-events: auto;
    }
}




